# .gitattributes
# =========================================
# Project: cc-utils
# =========================================

# =========================================
# CI/CD attributes #
# =========================================
README.md merge=ours
