# .gitignore
# =========================================
# Project: cc-utils/src/ccutils/models
# =========================================

# =========================================
# Temperary ignores #
# =========================================
base.py