# .github/workflows/ruff-lint.yml
---
name: Ruff Lint Check

on: [push, pull_request]

jobs:
  ruff-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install ruff
        run: |
          make install

      - name: Lint with ruff
        run: |
          make ruff-lint-check
